<div class="container" id="data__hewan">
  <h1 class="text-center fw-bold mb-3">Detail Hewan</h1>
  <div class="row">
    <div class="col-md-8">
      <% if (!dataHewan) { %>
        <div class="alert alert-danger fw-bold" role="alert">
          Tidak terdapat data hewan <a href="/data-hewan" class="alert-link fw-normal">&laquo Kembali ke Daftar
            hewan</a>
        </div>
        <% } else { %>
          <div class="card col" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title fs-2 fw-bold">
                <%= dataHewan.jenis %>
              </h5> <!-- Jenis -->
              <h6 class="card-subtitle mb-2">
                <%= dataHewan.nama %>
              </h6> <!-- Nama -->
              <h6>
                <%= dataHewan.umur %> Tahun
              </h6> <!-- Umur -->
              <h6>
                <%= dataHewan.beratBadan %> Kg
              </h6><!-- Berat Badan -->
              <a href="/data-hewan/edit/<%= dataHewan.nama %>" class="btn btn-success">Edit</a>
              <a href="/data-hewan/delete/<%= dataHewan.nama %>" class="btn btn-danger"
                onclick="confirm('Apakah anda yakin ingin menghapus data?')">Hapus</a>
              <a href="/data-hewan" class="card-link d-block mt-3">Kembali ke Data Hewan</a>
            </div>
          </div>
          <% } %>
    </div>
  </div>
</div>